:host{
    margin-top: 10px;
    width: 310px;
}

.section__addnode__button{
    border: 1px solid black;
    width: 310px;
    height: 35px;
    text-align: center;
    padding-top: 10px; 
    margin-left: 5px; 
}
