:host{
    margin-top: 30px;
    justify-content: center;
}

.section__addnode__button{
    justify-content: center;
    border: black;
    width: 310px;
    width: 35px;
    
}

i{
    justify-content: center;
}
