:host{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: chartreuse;
    width: 320px;
    height: 45px;

}

.section__header_icons{
    padding: 10px;

}